
body {
    background-color: #121212;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    
}
/* --------Estilos para la barra principal---------- */
#barra_principal a img {
    width: 100%; 
    max-width: 200px; 
    height: auto; 
}

#barra_principal {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    background-color: #121212;
}

/* Estilos para el logo */
#barra_principal a {
    display: block;
    max-width: 100px; 
}


#barra_busqueda {
    background-color: #383838;
    height: 40px;
    width: 200px;
    border-radius: 20px; 
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 10px;
}


#carrito_compras, #cuenta {
    background-color: #383838;
    height: 40px;
    width: 40px; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#carrito_compras img, #cuenta img {
    width: 20px;
    height: 20px; 
}

/* Media queries para dispositivos móviles */
@media (max-width: 460px) {
    #barra_principal {
        flex-direction: row;
        padding: 5px;
    }

    #barra_busqueda {
        width: 150px;
    }

    #carrito_compras, #cuenta {
        width: 30px;
        height: 30px;
    }

    #carrito_compras img, #cuenta img {
        width: 15px;
        height: 15px;
    }
}




#barra_catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

/* Estilos para los botones de redirección */

.botones_redirecciones a {
    text-decoration: none; 
    color: #fff; 
    font-size: 1.2em; 
}

.botones_redirecciones {
    display: flex;
    background-color: #383838;
    height: 40px;
    width: 22%;
    max-width: 100px; 
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.botones_redirecciones h2, .botones_redirecciones h3 {
    color: white;
    margin: 0; 
    font-size: 1em;
}


@media (max-width: 460px) {
    #barra_catalogo {
        justify-content: center; 
    }

    .botones_redirecciones {
        height: 40px;
        width: 45%; 
        max-width: none; 
        margin-bottom: 10px; 
    }

    .botones_redirecciones h2, .botones_redirecciones h3 {
        font-size: 0.9em; 
    }
}



/* BOTONES EN TENDENCIA Y PRINCIPALES */

.lista_botones {
    display: inline-flex;
    flex-direction: row;
}

.boton_oculto {
    display: none;
}

.botones_redirecciones1 {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 5px;
    cursor: pointer;
    background-color: #1e1e1e; 
    color: grey;
}

#btn1:checked + .botones_redirecciones1,
#btn2:checked + .botones_redirecciones1 {
    background-color: #383838;
    color: white;
}

/* ESTILOS CARRUSEL */

.carousel-inner .carousel-item img {
    border-radius: 20px; 
    margin: 10px; 
}

/* Ajuste de la velocidad de la animación */
.carousel-inner .carousel-item {
    transition: transform 2s ease;
}








/* -------------ESTILOS TABLAS------------- */







.imagenes_tabla {
    height: 50px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 8px;
    text-align: left;
}



/* tr:hover {
    background-color: #f5f5f5;
} */


/* ---------- SECCIONES CATALOGO---------------- */




.botones_catalogo a{
    text-decoration: none; 
    color: #fff; 
    font-size: 1.2em;
}

.botones_catalogo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383838;
    height: 40px;
    width: 150px;
    border-radius: 45px;
}
.cabeceras_catalogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contenido_catalogo{
    border-radius: 20px;
}
.catalogo{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}
.catalogo img {
    height: 200px;
    display: inline-block;
    margin: 10px;
    border-radius: 20px;
    margin-bottom: 70px;
    
}


/* ---------FOOTER--------- */


footer {
    background-color: #1C1C1C; 
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}
footer p{
    text-align: center;
}
.img_footer{
    height: 40px;
    margin: 5px;
}
.redes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .img_footer {
        height: 30px;
    }

    .redes {
        justify-content: space-around;
    }

    footer p {
        font-size: 0.8em;
    }
}





/* ---------Mensaje advertencia solo moviles ------------- */

#mobile-content {
    padding: 20px;
    text-align: center;
}

/* Cuadro de advertencia */
#warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: none; /* Oculto por defecto */
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
}
.hidden {
    display: none;
}

/* Mostrar cuadro de advertencia en pantallas más anchas */
@media only screen and (min-width: 470px) {
    #mobile-content {
        display: none;
    }
    #warning {
        display: flex;
    }
}
