body {
    background-color: #121212;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
 
}

/* Cuadro de advertencia */
#warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: none; 
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
}



@media only screen and (min-width: 470px) {
    #mobile-content {
        display: none;
    }
    #warning {
        display: flex;
    }
}

/* --------Estilos para la barra principal---------- */
#barra_principal a img {
    width: 100%; 
    max-width: 200px; 
    height: auto; 
}

#barra_principal {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    background-color: #121212;
}

#barra_principal a {
    display: block;
    max-width: 100px; 
}


#barra_busqueda {
    background-color: #383838;
    height: 40px;
    width: 200px;
    border-radius: 20px; 
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0 10px;
}
.boton_regresar{
    background-color: #383838;
    height: 40px;
    width: 80px;
    border-radius: 20px; 
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0px 30px;
    margin-left: 20px;;
}
.boton_regresar a{
    text-decoration: none;
    color: #fff; 
    font-size: 1.2em;
}
h2{
    margin-top: 40px;
    margin-bottom: 5px;
    margin-left: 20px;
}

/* -------------ESTILOS ITEMS CARRITO------------ */
.item_carrito {
    display: flex;
    align-items: center;
    background-color: #1f1f1f; 
    padding: 10px; 
    border-radius: 10px; 
    margin: 10px 0; 
    flex-wrap: wrap;
}


.item_carrito img {
    border-radius: 10px; 
    width: 50px; 
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}


.item_carrito .info {
    flex-grow: 1; 
}


.item_carrito .nombre {
    display: flex;
    align-items: center;
    font-weight: bold;
}

.item_carrito .verificado {
    width: 15px; 
    height: 15px; 
    margin-left: 5px;
}


.item_carrito .extra {
    font-size: 0.9em; 
    color: #aaaaaa; 
}


.item_carrito .precio {
    font-weight: bold; 
    white-space: nowrap;
}

/* ---------ESTILOS METODO PAGO-------- */

.carrito {
    padding: 20px;
    background-color: #1f1f1f;
    border-radius: 10px;
    margin: 20px 0;
    margin-top: 200px;
    
}


.precio-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #383838;
}

.precio {
    text-align: right;
}

.precio span {
    display: block;
}


.metodo-pago {
    padding: 20px 0;
    border-bottom: 1px solid #383838;
}

.opciones-pago {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.opciones-pago div {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.opciones-pago input[type="radio"] {
    appearance: none;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    position: relative;
    margin-right: 10px;
    outline: none;
    cursor: pointer;
}

.opciones-pago input[type="radio"]:checked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: #007bff;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.crypto-text {
    text-align: right;
}


.btn-completar-compra {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
}

.btn-completar-compra:hover {
    background-color: #218838;
}

/* ---------FOOTER--------- */


footer {
    background-color: #1C1C1C; 
    bottom: 0;
    width: 100%;
    padding: 10px 0;
}
footer p{
    text-align: center;
}
.img_footer{
    height: 40px;
    margin: 5px;
}
.redes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 600px) {
    .img_footer {
        height: 30px;
    }

    .redes {
        justify-content: space-around;
    }

    footer p {
        font-size: 0.8em;
    }
}