
body {
    background-color: #121212;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
    
}
/* --------Estilos para la barra principal---------- */
#barra_principal a img {
    width: 100%; 
    max-width: 200px; 
    height: auto; 
}

#barra_principal {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px;
    background-color: #121212;
}

/* Estilos para el logo */
#barra_principal a {
    display: block;
    max-width: 100px; 
}


#barra_busqueda {
    background-color: #383838;
    height: 40px;
    width: 200px;
    border-radius: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
}


#carrito_compras, #cuenta {
    background-color: #383838;
    height: 40px;
    width: 40px; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#carrito_compras img, #cuenta img {
    width: 20px;
    height: 20px; 
}

/* Media queries para dispositivos móviles */
@media (max-width: 460px) {
    #barra_principal {
        flex-direction: row;
        padding: 5px;
    }

    #barra_busqueda {
        width: 150px;
    }

    #carrito_compras, #cuenta {
        width: 30px;
        height: 30px;
    }

    #carrito_compras img, #cuenta img {
        width: 15px;
        height: 15px;
    }
}




#barra_catalogo {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en múltiples filas si es necesario */
    justify-content: space-between; /* Espacio entre los elementos */
    align-items: center;
    gap: 10px; /* Añade un espacio entre los botones */
    padding: 10px; /* Añade un espacio alrededor de los botones */
}

/* Estilos para los botones de redirección */
.botones_redirecciones {
    display: flex;
    background-color: #383838;
    height: 40px; /* Ajusta la altura para que sea más pequeña y responsiva */
    width: 22%; /* Haz que los botones ocupen un porcentaje del ancho disponible */
    max-width: 100px; /* Establece un ancho máximo */
    border-radius: 20px; /* Ajusta el radio de borde para hacer los botones más redondos */
    justify-content: center;
    align-items: center;
    padding: 10px; /* Añade un padding interno para el texto */
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

.botones_redirecciones h2, .botones_redirecciones h3 {
    color: white;
    margin: 0; /* Elimina el margen predeterminado de los encabezados */
    font-size: 1em; /* Ajusta el tamaño de la fuente */
}

/* Media queries para dispositivos móviles */
@media (max-width: 460px) {
    #barra_catalogo {
        justify-content: center; /* Centra los botones cuando el espacio es reducido */
    }

    .botones_redirecciones {
        height: 40px; /* Ajusta la altura para dispositivos móviles */
        width: 45%; /* Ajusta el ancho a un porcentaje menor para dispositivos pequeños */
        max-width: none; /* Elimina el ancho máximo en dispositivos pequeños */
        margin-bottom: 10px; /* Añade un espacio inferior para separar las filas */
    }

    .botones_redirecciones h2, .botones_redirecciones h3 {
        font-size: 0.9em; /* Ajusta el tamaño de la fuente para dispositivos móviles */
    }
}



/* BOTONES EN TENDENCIA Y PRINCIPALES */

.lista_botones {
    display: inline-flex;
    flex-direction: row;
}

.boton_oculto {
    display: none;
}

.botones_redirecciones1 {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 5px;
    cursor: pointer;
    background-color: #1e1e1e; /* Estado inactivo */
    color: grey;
}

#btn1:checked + .botones_redirecciones1,
#btn2:checked + .botones_redirecciones1 {
    background-color: #383838; /* Estado activo */
    color: white;
}




/* ESTILOS CARRUSEL */



.carousel-inner .carousel-item img {
    border-radius: 20px; /* Ajusta el radio del borde redondo */
    margin: 10px; /* Añade margen alrededor de las imágenes */
}

/* Ajuste de la velocidad de la animación */
.carousel-inner .carousel-item {
    transition: transform 2s ease; /* Ajusta el tiempo de la animación (aquí 1.5 segundos) */
}








/* -------------ESTILOS TABLAS------------- */







.imagenes_tabla {
    height: 50px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 8px;
    text-align: left;
}



/* tr:hover {
    background-color: #f5f5f5;
} */


/* ---------- SECCIONES CATALOGO---------------- */






.botones_catalogo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #383838;
    height: 40px;
    width: 150px;
    border-radius: 45px;
}
.cabeceras_catalogo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.contenido_catalogo{
    border-radius: 20px;
}
.catalogo{
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}
.catalogo img {
    height: 200px;
    display: inline-block;
    margin: 10px;
    border-radius: 20px;
    margin-bottom: 70px;
    
}


/* ---------FOOTER--------- */


footer {
    background-color: #1C1C1C; /* Color rojo hexadecimal */
    bottom: 0;
    width: 100%;
    padding: 10px 0;
 /* Para el texto del copyright */
}
footer p{
    text-align: center;
}
.img_footer{
    height: 40px;
}
.redes{
    display: flex;
    justify-content: center;
}





/* ---------Mensaje advertencia solo moviles ------------- */

#mobile-content {
    padding: 20px;
    text-align: center;
}

/* Cuadro de advertencia */
#warning {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: none; /* Oculto por defecto */
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 1000;
}
.hidden {
    display: none;
}

/* Mostrar cuadro de advertencia en pantallas más anchas */
@media only screen and (min-width: 470px) {
    #mobile-content {
        display: none;
    }
    #warning {
        display: flex;
    }
}
